body {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,38,44,1) 47%, rgba(0,0,0,1) 100%);
}
.main-box {
    width: 27%;
    border: 1px solid black;
    margin: 50px auto;
    height: 100%;
    padding: 20px;
    border-radius: 13px;
    box-shadow: rgba(193, 192, 192, 0.35) 0px 5px 15px;
    
}
.all-display {
    width: 100%;
}
.all-display  > table,
.all-button  > table {
    width: 100%;
    text-align: center;
}
input[type="text"] {
    height: 40px;
    width: 98%;
    text-align: end;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    background-color: aliceblue;
} 
.calc-btn {
width: 89%;
height: 64px;
border-radius: 50%;
font-size: 20px;
min-width: 76px;
}